<p id="notice"><%= notice %></p>
<h1>Categoría: <%= @category.name %></h1>

<%= form_with(model: [@category, @product], local: true) do |form| %>
  <%= form.hidden_field :category_id, value: @category.id %>
  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:'form-control' %>
  </div>
  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, class:'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar", class:'btn btn-default' %>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre Producto</th>
      <th>Precio</th>
      <th>Borrar</th>
    </tr>
  </thead>
  <tbody>
    <% @category.products.each do |products| %>
      <tr>
        <td>
          <%= products.name %>
        </td>
        <td>
          <%= products.price %>
        </td>
        <td>
          <%= link_to "Borrar", category_product_path(@category, products), method: :delete, class:'btn btn-danger'  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_category_path(@category), class:'btn btn-default' %> |
<%= link_to 'Back', categories_path, class:'btn btn-default' %>
